.about_section {
  background: #00b1b1;
  padding-bottom: 20px;
}

.about_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_wrap img {
  margin-top: 35px;
  margin-left: -52px;
}

.about_header {
  font-size: 90px;
  margin-bottom: 20px;
}

.about_desc {
  width: 40%;
  color: #fff;
}
.about_desc p {
  font-size: 17px;
  line-height: 28px;
  margin-top: 15px;
}