* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    min-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

ul {
    list-style: circle;
    margin-left: 50px;
    margin-bottom: 50px;
}

ol {
    margin-left: 40px;
}