* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1c1c;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    padding-top: 108px;
    margin-bottom: 140px;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.item {
    float: left;
    width: 310px;
    text-align: center;
    margin: 0 40px;
}

.item:last-child {
    margin-right: 0px;
}

.icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #ffae00;
    border-radius: 20px 0 20px 0;
    margin-bottom: 35px;
}

.item h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.icon:after {
    background-image: url(/assets/img/sprite.png);
    background-repeat: no-repeat;
}

.icon_1:after {
    content: '';
    display: block;
    margin-top: 23px;
    margin-left: 17px;
    width: 38px;
    height: 40px;
}

.icon_2:after {
    content: '';
    display: block;
    margin-top: 23px;
    margin-left: 20px;
    background-position: -140px top;
    width: 38px;
    height: 40px;
}

.icon_3:after {
    content: '';
    display: block;
    margin-top: 23px;
    margin-left: 23px;
    background-position: right top;
    width: 44px;
    height: 40px;
}

footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin: 0 auto;
    height: 100px;
    width: 200px;
    background: url(/assets/img/kasper.png) center center no-repeat;
    margin-bottom: 13px;
}

.slogan {
    font-size: 21px;
    text-transform: uppercase;
}

.slogan:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    width: 230px;
    margin: 17px auto 20px auto;
}

footer ul {
    padding-left: 12px;
    margin-bottom: 60px;
}

footer ul li {
    display: inline-block;
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 0 6px;
}

a div {
    background-image: url(/assets/img/sprite_casper.png);
    background-repeat: no-repeat;
}

.facebook {
    width: 20px;
    height: 20px;
}

.twitter {
    background-position: -37px 0px;
    width: 20px;
    height: 20px;
}

.googleplus {
    background-position: -86px 0px;
    width: 20px;
    height: 20px;
}

.dribble {
    background-position: -127px 0px;
    width: 20px;
    height: 20px;
}

.copyright {
    font-size: 15px;
}

.copyright a {
    text-decoration: none;
    color: #00c7fc;
}