.contact {
    background: url(../images/contact/bg_footer.jpg) center top no-repeat;
    background-size: cover;
    color: #262626;
    padding-top: 79px;
    h2 {
        font-size: 90px;
        text-align: center;
        margin-bottom: 22px;
    }
    p {
        width: 90%;
        max-width: 369px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 44px;
        font-size: 17px;
        line-height: 24px;
    }
    .form_wrap {
        display: flex;
        justify-content: space-between;
        .form_data {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 500px;
            input {
                background-color: rgba(0, 196, 196, .5);
                margin-bottom: 15px;
                border: 0;
                border-left: 5px solid transparent;
                height: 50px;
                font-size: 15px;
                line-height: 50px;
                padding-left: 15px;
                color: #fff;
                outline-style: none;
                &::placeholder {
                    color: #fff;
                }
                &:focus {
                    border-left: 5px solid #355b82;
                    font-weight: bold;
                    background-color: rgb(0, 196, 196);
                    transition: all .2s ease;
                }
            }
            textarea[name="message"] {
                height: 250px;
                background-color: rgba(0, 196, 196, .5);
                color: #fff;
                border: 0;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                border-left: 5px solid transparent;
                outline: none;
                padding: 20px 0 0 15px;
                margin-bottom: 15px;
                &:focus {
                    border-left: 5px solid #355b82;
                    font-weight: bold;
                    background-color: rgb(0, 196, 196);
                    transition: all .2s ease;
                }
                &::placeholder {
                    color: #fff;
                }
            }
            button {
                height: 50px;
                width: 25%;
                margin: 0 auto;
                text-align: center;
                line-height: 50px;
                color: #fff;
                background-color: rgba(0, 196, 196, 0.5);
                border: 1px solid rgba(0, 196, 196, 0.5);
                outline: none;
                cursor: pointer;
                font-size: 15px;
                margin-bottom: 55px;
                transition: all .2s ease;
                &:hover {
                    background: #fff;
                    transition: all .2s ease;
                    color: rgb(0, 196, 196);
                }
                &:active {
                    color: #355b82;
                    background-color: #eee;
                }
            }
        }
        .contact_info {
            width: 45%;
            max-width: 500px;
            margin-top: -4px;
            dt {
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 2px;
            }
            dd {
                font-size: 20px;
                font-weight: lighter;
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        h2 {
            font-size: 60px;
        }
        .form_wrap {
            flex-direction: column-reverse;
            align-items: center;
            .form_data, .contact_info {
                width: 90%;
            }
        }
    } 
}