* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  padding-bottom: 24px;
  background: #fafafb url(../images/header/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

#menu {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 80%;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
}
.header_wrap .menu {
  display: flex;
  width: 557px;
  height: 142px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: -4px;
  padding-left: 1px;
  right: 0;
}
.header_wrap .menu .menu_item {
  position: relative;
}
.header_wrap .menu .menu_item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-weight: bold;
}
.header_wrap .menu .menu_item:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  top: -8px;
  left: 0;
  background: #ff6033;
  transition: all 0.2s ease;
}
.header_wrap .menu .menu_item:hover::before {
  width: 100%;
  transition: all 0.2s ease;
}

button {
  display: none;
}

.logo {
  align-self: center;
}

.info {
  width: 370px;
  padding-top: 205px;
}
.info p {
  font-size: 17px;
  color: #262626;
  line-height: 27px;
  margin-bottom: 28px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px;
  margin-left: -2px;
}

.get_btn {
  display: block;
  background: #ff6033;
  border: 2px solid #ff6033;
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 55px;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 380px;
  transition: all 0.2s ease;
}
.get_btn:hover {
  background: #fff;
  color: #ff6033;
  transition: all 0.2s ease;
}

.demo {
  position: relative;
  width: 100%;
  height: 100%;
}

.demo::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
}

#scroll a {
  margin-bottom: 80px;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #262626;
  border-radius: 50px;
  box-sizing: border-box;
}

#scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #262626;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1366px) {
  .header_wrap {
    margin-bottom: 135px;
  }
  .header_wrap .menu {
    width: 557px;
  }

  .get_btn {
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header_wrap {
    margin-bottom: 10px;
  }
  .header_wrap .menu {
    width: 457px;
  }

  .get_btn {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  button {
    display: inline-block;
  }

  .menu {
    display: none;
  }

  .header_wrap {
    margin-bottom: -50px;
  }

  h1 {
    margin-top: 50px;
  }

  .get_btn {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 650px) {
  .header_wrap {
    margin-bottom: -100px;
  }

  .info {
    width: 80%;
  }
}
.hamburger {
  display: none;
  outline: none;
}

.mobile_menu {
  width: 300px;
  left: -100%;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 99999;
  transition: all 0.2s ease;
  background: #fff;
  z-index: 99999999;
}
.mobile_menu.opened {
  left: 0;
}
.mobile_menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile_menu nav .logo {
  margin: 20px auto;
}
.mobile_menu nav .social {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 0;
  width: 90%;
  height: 42px;
}
.mobile_menu nav ul {
  text-align: center;
  list-style: none;
  width: 100%;
}
.mobile_menu nav ul li {
  width: 100%;
}
.mobile_menu nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #666;
  display: block;
  width: 100%;
  border: 2px solid #5474fd;
}
.mobile_menu nav ul li a:hover {
  color: #333;
  border: 2px solid #2c4058;
}

.menu_shadow {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: #2c4058;
  opacity: 0.7;
  left: 0;
  top: 0;
  z-index: 999;
}

.opened {
  display: block;
}

.fixed {
  background: linear-gradient(0.135turn, #55b7ff, #7e5aff);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10% 0;
  z-index: 99999;
  transition: all 0.2s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  width: 52.63%;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 1px;
}
.navbar ul a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .header_wrap .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
.about_section {
  background: #00b1b1;
  padding-bottom: 20px;
}

.about_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_wrap img {
  margin-top: 35px;
  margin-left: -52px;
  width: 100%;
}

.about_header {
  font-size: 90px;
  margin-bottom: 8px;
}

.about_desc {
  width: 43%;
  color: #fff;
  padding-left: 2px;
  margin-top: -47px;
}
.about_desc p {
  font-size: 17px;
  line-height: 28px;
}

@media screen and (max-width: 1376px) {
  .about_wrap img {
    margin-left: -100px;
    width: 62%;
  }
}
@media screen and (max-width: 1045px) {
  .about_wrap img {
    margin: 0 auto;
    width: 59%;
  }
  .about_wrap .about_desc {
    width: 40%;
    padding-top: 40px;
  }
  .about_wrap .about_desc h2 {
    font-size: 70px;
    width: 110%;
  }
}
@media screen and (max-width: 768px) {
  .about_wrap .about_desc h2 {
    font-size: 50px;
  }
  .about_wrap .about_desc p {
    font-size: 16px;
    line-height: 20px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 650px) {
  .about_wrap {
    flex-direction: column;
  }
  .about_wrap .about_desc {
    width: 100%;
    padding-top: 20px;
    text-align: justify;
  }
  .about_wrap .about_desc h2 {
    text-align: center;
  }
}
.our_services {
  background-color: #70bfff;
}

.section_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_block {
  margin: 180px 0px 131px 100px;
  width: 34.19%;
}
.list_block li {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.list_block li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 1px solid transparent;
}
.list_block li a:hover {
  border: 1px solid black;
  transition: all 0.2s ease;
}
.list_block li span {
  width: 75%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 35px 20px 0;
  color: #262626;
  position: relative;
}
.list_block li span:after {
  content: "";
  display: block;
  width: 1px;
  height: 103%;
  position: absolute;
  right: -2px;
  bottom: -1px;
  background-color: #9d9d9d;
}
.list_block li span:last-child {
  padding-left: 200px;
}
.list_block li .long_phrase {
  padding: 20px 20px 0;
  line-height: 28px;
}

.icon {
  width: 25%;
  padding-left: 1px;
}

.icon_1 {
  height: 42px;
}

.icon_2 {
  height: 48px;
}

.icon_3 {
  height: 54px;
}

.icon_4 {
  height: 54px;
}

.tomato {
  width: 50%;
  height: 80%;
  color: #fff;
  position: relative;
}
.tomato img {
  display: block;
  margin-left: 100px;
  margin-top: -31px;
  width: 90%;
}
.tomato h2 {
  width: 100%;
  position: absolute;
  left: 44px;
  top: 180px;
  font-size: 90px;
}

@media screen and (max-width: 1024px) {
  .section_wrap {
    padding-top: 20px;
    align-items: start;
  }
  .section_wrap .list_block {
    margin: 0px 0 30px 50px;
    width: 43%;
  }
  .section_wrap .list_block li {
    height: 90px;
  }
  .section_wrap .list_block li .long_phrase {
    padding: 9px 20px 0;
    line-height: 26px;
  }
  .section_wrap .tomato {
    align-self: center;
  }
  .section_wrap .tomato img {
    margin-left: 65px;
    margin-top: -10px;
    width: 85%;
  }
  .section_wrap .tomato h2 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 60px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section_wrap .list_block {
    margin: 0px 0 30px 100px;
  }
  .section_wrap .list_block li {
    height: 80px;
  }
  .section_wrap .list_block li a span {
    padding-top: 8px;
  }
  .section_wrap .list_block li .long_phrase {
    padding: 0px 20px 0;
  }

  .tomato {
    align-self: center;
  }
  .tomato img {
    margin-left: 25px;
    margin-top: -10px;
    width: 85%;
  }
  .tomato h2 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 50px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 650px) {
  .section_wrap {
    flex-direction: column-reverse;
  }
  .section_wrap .list_block {
    margin: 20px auto;
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .tomato {
    width: 70%;
  }
  .tomato h2 {
    font-size: 40px;
  }
}
.gallery {
  background: #ffe92f;
  padding: 80px 0 120px;
}
.gallery h2 {
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  margin-bottom: 20px;
}
.gallery p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
  margin-bottom: 42px;
  font-size: 17px;
}
.gallery .gallery_wrap .row_1 {
  display: flex;
  justify-content: space-between;
  height: 549px;
  margin-bottom: 30px;
}
.gallery .gallery_wrap .row_1 .col_1 {
  width: calc(66.6666% - 12px);
  max-width: 770px;
}
.gallery .gallery_wrap .row_1 .col_1 .img_1 {
  background-image: url(../images/gallery/img_1.jpg);
}
.gallery .gallery_wrap .row_1 .col_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(33.3333% - 15px);
  max-width: 370px;
}
.gallery .gallery_wrap .row_1 .col_2 .img_2 {
  background-image: url(../images/gallery/img_2.jpg);
  height: calc(50% - 15px);
}
.gallery .gallery_wrap .row_1 .col_2 .img_3 {
  background-image: url(../images/gallery/img_3.jpg);
  height: calc(50% - 15px);
}
.gallery .gallery_wrap .row_2 {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-bottom: 50px;
}
.gallery .gallery_wrap .row_2 .img_4 {
  background-image: url(../images/gallery/img_4.jpg);
  width: calc(50% - 15px);
}
.gallery .gallery_wrap .row_2 .img_5 {
  background-image: url(../images/gallery/img_5.jpg);
  width: calc(50% - 15px);
}
.gallery .gallery_wrap .img {
  overflow: hidden;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 5px 0px #000;
}
.gallery a {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 55px;
  background: #5585a2;
  border: 1px solid #5585a2;
  box-shadow: 0px 2px 5px 0px #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  transition: all 0.2s ease;
}
.gallery a:hover {
  background: #fff;
  color: #5585a2;
  transition: all 0.2s ease;
}

.subscribe {
  padding: 140px 0 163px;
  background: #fff url(../images/subscribe/bg.jpg) no-repeat;
  background-position: 100% 50%;
}
.subscribe h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 35px;
}
.subscribe p {
  width: 550px;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 24px;
}
.subscribe input {
  width: 570px;
  height: 55px;
  border: 1px solid #000;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 15px;
}
.subscribe button {
  width: 170px;
  height: 55px;
  background-color: #96b92c;
  border: 1px solid #96b92c;
  box-shadow: 0 2px 5px 0 #000;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.subscribe button:hover {
  background-color: #fff;
  color: #96b92c;
}

@media screen and (max-width: 1170px) {
  .subscribe {
    padding: 80px 0 120px;
    background: #fff url(../images/subscribe/bg.jpg) no-repeat;
    background-position: 620px 50%;
  }
}
@media screen and (max-width: 650px) {
  .subscribe p {
    width: 100%;
  }
  .subscribe input {
    width: 100%;
  }
}
.blog {
  background: #b07cf7;
  width: 100%;
  padding: 83px 0 71px;
}
.blog h2 {
  font-size: 90px;
  line-height: 98px;
  color: #fff;
  text-align: center;
}
.blog .describe {
  max-width: 570px;
  width: 90%;
  color: #fff;
  margin: 25px auto 43px;
  font-size: 17px;
  text-align: center;
  line-height: 26px;
}
.blog .wrapper {
  display: flex;
  justify-content: space-between;
}
.blog .wrapper .item {
  max-width: 370px;
  width: 33%;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.blog .wrapper .item .gradient {
  display: block;
  line-height: 0;
  width: 100%;
}
.blog .wrapper .item .gradient:after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}
.blog .wrapper .item .gradient img {
  width: 100%;
}
.blog .wrapper .item .post_date {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: rgba(38, 38, 38, 0.5);
  border-radius: 4px;
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  line-height: 24px;
  text-transform: uppercase;
}
.blog .wrapper .item .post_date span {
  font-size: 32px;
  line-height: 33px;
}
.blog .wrapper .item .header_post {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 65%;
  width: 100%;
  font-size: 20px;
  padding-right: 30px;
  font-weight: bold;
}
.blog .wrapper .item .author {
  position: absolute;
  color: #fff;
  bottom: 23px;
  left: 20px;
  font-weight: lighter;
  font-size: 13px;
}
.blog .scroll_btn {
  display: block;
  text-decoration: none;
  background-color: #f72b3b;
  color: #fff;
  border: 2px solid #f72b3b;
  margin: 0 auto;
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 17px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  transition: all 0.2s ease;
}
.blog .scroll_btn:hover {
  background-color: #fff;
  color: #f72b3b;
  transition: all 0.2s ease;
}

@media screen and (max-width: 1170px) {
  .blog .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog .container .wrapper {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px auto;
    width: 90%;
  }
  .blog .container .wrapper .item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 0;
  }
  .blog h2 {
    font-size: 70px;
  }
}
.contact {
  background: url(../images/contact/bg_footer.jpg) center top no-repeat;
  background-size: cover;
  color: #262626;
  padding-top: 79px;
}
.contact h2 {
  font-size: 90px;
  text-align: center;
  margin-bottom: 22px;
}
.contact p {
  width: 90%;
  max-width: 369px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
  font-size: 17px;
  line-height: 24px;
}
.contact .form_wrap {
  display: flex;
  justify-content: space-between;
}
.contact .form_wrap .form_data {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 500px;
}
.contact .form_wrap .form_data input {
  background-color: rgba(0, 196, 196, 0.5);
  margin-bottom: 15px;
  border: 0;
  border-left: 5px solid transparent;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  padding-left: 15px;
  color: #fff;
  outline-style: none;
}
.contact .form_wrap .form_data input::placeholder {
  color: #fff;
}
.contact .form_wrap .form_data input:focus {
  border-left: 5px solid #355b82;
  font-weight: bold;
  background-color: #00c4c4;
  transition: all 0.2s ease;
}
.contact .form_wrap .form_data textarea[name=message] {
  height: 250px;
  background-color: rgba(0, 196, 196, 0.5);
  color: #fff;
  border: 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  border-left: 5px solid transparent;
  outline: none;
  padding: 20px 0 0 15px;
  margin-bottom: 15px;
}
.contact .form_wrap .form_data textarea[name=message]:focus {
  border-left: 5px solid #355b82;
  font-weight: bold;
  background-color: #00c4c4;
  transition: all 0.2s ease;
}
.contact .form_wrap .form_data textarea[name=message]::placeholder {
  color: #fff;
}
.contact .form_wrap .form_data button {
  height: 50px;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: rgba(0, 196, 196, 0.5);
  border: 1px solid rgba(0, 196, 196, 0.5);
  outline: none;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 55px;
  transition: all 0.2s ease;
}
.contact .form_wrap .form_data button:hover {
  background: #fff;
  transition: all 0.2s ease;
  color: #00c4c4;
}
.contact .form_wrap .form_data button:active {
  color: #355b82;
  background-color: #eee;
}
.contact .form_wrap .contact_info {
  width: 45%;
  max-width: 500px;
  margin-top: -4px;
}
.contact .form_wrap .contact_info dt {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.contact .form_wrap .contact_info dd {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .contact h2 {
    font-size: 60px;
  }
  .contact .form_wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact .form_wrap .form_data, .contact .form_wrap .contact_info {
    width: 90%;
  }
}
footer {
  width: 100%;
  height: 90px;
  background-color: #262626;
  color: #8a8a8a;
}
footer .footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
footer .footer_wrap img {
  margin-left: -57px;
}
footer .footer_wrap span {
  color: #ff2b58;
}

@media screen and (max-width: 680px) {
  footer .footer_wrap {
    flex-direction: column;
  }
  footer .footer_wrap img {
    margin-left: 0;
  }
  footer .footer_wrap div:last-child {
    margin-bottom: 5px;
  }
}